# .chezmoi.yaml.tmpl
data:
  os: "{{ .chezmoi.os }}"     # 自动识别系统
  user: "{{ .chezmoi.username }}"

# 不同系统的特定选项
{{ if eq .chezmoi.os "linux" }}
sourceDir: "~/dotfiles"
{{ else if eq .chezmoi.os "darwin" }}
sourceDir: "~/dotfiles"
{{ else if eq .chezmoi.os "windows" }}
sourceDir: "C:/Users/{{ .chezmoi.username }}/dotfiles"
{{ end }}

