# .chezmoi.yaml.tmpl
data:
  os: "{{ .chezmoi.os }}"
  user: '{{ replace .chezmoi.username `\` `\\` }}'

{{ if eq .chezmoi.os "linux" }}
sourceDir: "~/dotfiles"
{{ else if eq .chezmoi.os "darwin" }}
sourceDir: "~/dotfiles"
{{ else if eq .chezmoi.os "windows" }}
sourceDir: "C:/Users/{{ replace .chezmoi.username `\` `/` }}/dotfiles"
{{ end }}
