{{ if eq .chezmoi.os "darwin" }}
_macos_zsh_keybindings() {
  for keymap in viins vicmd emacs; do
    bindkey -M "$keymap" '^[b' backward-word
    bindkey -M "$keymap" '^[f' forward-word
    bindkey -M "$keymap" '^[[1;3D' backward-word
    bindkey -M "$keymap" '^[[1;3C' forward-word
    bindkey -M "$keymap" '^[[H' beginning-of-line
    bindkey -M "$keymap" '^[[F' end-of-line
    bindkey -M "$keymap" '^[[1~' beginning-of-line
    bindkey -M "$keymap" '^[[4~' end-of-line
  done

  bindkey -M viins '^[^?' backward-kill-word
  bindkey -M emacs '^[^?' backward-kill-word

  _up_accept_or_history() {
    if [[ -n "$POSTDISPLAY" ]]; then
      zle autosuggest-accept
    else
      zle up-line-or-history
    fi
  }
  zle -N _up_accept_or_history
  bindkey -M viins '^I' expand-or-complete
  bindkey -M emacs '^I' expand-or-complete
  bindkey -M viins '^[[A' _up_accept_or_history
  bindkey -M emacs '^[[A' _up_accept_or_history
}

_macos_zsh_keybindings

zvm_after_init() {
  _macos_zsh_keybindings
}
{{ end -}}
