{{ if eq .chezmoi.os "darwin" }}
local wezterm_name = "WezTerm"

hs.hotkey.bind({ "alt" }, "h", function()
  local front = hs.application.frontmostApplication()

  if front then
    front:hide()
  end
end)

hs.hotkey.bind({ "ctrl", "cmd" }, "t", function()
  local front = hs.application.frontmostApplication()

  if front and front:name() == wezterm_name then
    hs.eventtap.keyStroke({ "cmd" }, "t", 0, front)
    return
  end

  hs.application.launchOrFocus(wezterm_name)
end)
{{ end }}
